snippet cl "clear the screen"
os.system('clear')
endsnippet
snippet date-t "date and time"
datetime.now().strftime('%Y-%m-%d %H:%M:%S')
endsnippet
snippet main "Main function boilerplate" b
def main():
	$0


if __name__ == "__main__":
	main()
endsnippet
snippet #! "#!/usr/bin/env python" b
#!/usr/bin/env python
$0
endsnippet
