snippet cl "clear the screen"
os.system('clear')
endsnippet
snippet date-t "date and time"
datetime.now().strftime('%Y-%m-%d %H:%M:%S')
endsnippet
snippet def-ma "def main()"
def main():
  if __name__ == "__main__":
    main()
endsnippet
